body {
	font-family: verdana;
	background-color: #000;
}

.center {
	margin: auto;
	width: 1000px;
	height: 80%;
	padding: 10px;
}

.button {
	background: #FFF;
	border-radius: 7px;
	box-shadow: 0 5px 1px #888888;
	padding: 5px 5px 5px 5px;
	color: green;
}

.legend {
	float: right;
	font-size: 10px;
	display: none; width : 200px; height : 80px;
	color: #A0A0A0;
	width: 200px;
	height: 80px;
}

.xAxis {
	margin-right: 100px;
}

.cube {
	width: 25px;
	height: 5px;
	background-color: steelblue;
	border-radius: 5px;
}