body {
	font-family: verdana;
	background-color: #000;
}

.header {
	color: #FFFFFF;
	font-size: 30px;
	margin: 1px
}

.chart_menu_container {
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.chart_layout {
	width: 90%;
	text-align: center;
	float: left;
}

.legend_area {
	
}

.menu_layout {
	
}

.menu_button {
	width: 100px;
	height: 33px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: left;
	border: none;
	margin-bottom: 20px;
	background-image: url("menu.png");
	background-repeat: no-repeat;
}

.menu_item {
	width: 100px;
	height: 100px;
	margin: 5px;
	-webkit-animation-name: slideInDown;
	-webkit-animation-duration: 1s;
}


@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.chart_type {
	width: 1200px;
	text-align: center;
	color: #5090A0;
	font-size: 20px;
}

.button {
	background: #FFF;
	border-radius: 7px;
	box-shadow: 0 5px 1px #888888;
	padding: 5px 5px 5px 5px;
	color: green;
}

.legend {
	float: right;
	font-size: 10px;
	display: none; width : 200px; height : 80px;
	color: #A0A0A0;
	width: 200px;
	height: 80px;
}

.xAxis {
	margin-right: 100px;
}

.cube {
	width: 25px;
	height: 5px;
	background-color: steelblue;
	border-radius: 5px;
}