body {
	font-family: verdana;
	background-color: #000;
}

.header {
	color: #FFFFFF;
	font-size: 25px;
	margin: 1px
}

.sub_header {
	color: #FFFFFF;
	font-size: 20px;
	margin: 1px
}

.chart_menu_container {
	overflow: auto;
	margin-top: 35px;
	margin-bottom: 10px;
}

.chart_layout {
	width: 90%;
	text-align: left;
	float: left;
}

.legend_area {
	width: 15%;
	float: left;
	font-size: 10px;
	text-align: left;
	display: none; width : 200px; height : 80px;
	color: #A0A0A0;
	width: 200px;
	height: 80px;
}

.menu_button {
	width: 100px;
	height: 33px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: left;
	border: none;
	margin-bottom: 20px;
	background-image: url("menu.png");
	background-repeat: no-repeat;
}

.menu_text {
	color: #FFFFFF;
}

.reset_button {
	width: 100px;
	height: 33px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	border: none;
	background-color: #000000;
}

.menu_item {
	width: 100px;
	height: 100px;
	margin: 5px;
	display: none;
	-webkit-animation-name: slideInDown;
	-webkit-animation-duration: 1s;
}


@keyframes slideInDown {
  from {
    transform: translate3d(0, -25%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.census_text {
	text-align: center;
	color: #FFF;
	font-size: 20px;
}